<!-- deskripsi -->
<div class="desc">
    <div class="container">
        <div class="row pt-5 pb-4 mt-4 border-top justify-content-center">

            <div class="col-lg-4 col-12">
                <h5><b>Butuh Bantuan?</b></h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="game" class="text-decoration-none p-0 "
                            style="font-size: medium;">Hubungi Kami</a></li>
                    <br>
                </ul>
            </div>

            <div class="col-lg-4 col-12">
                <h5><b>Area</b></h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="/" class="text-decoration-none p-0 " style="font-size: medium;">
                            <img src="assets/images/logo/id.png" class="logo" alt=".." width="25">
                            Indonesia
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-4 col-12">
                <h5><b>Dapatkan Berita Coda di:</b></h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">
                        <a><img src="assets/images/logo/fb.png" class="logo" alt=".." width="25"></a>
                        <a><img src="assets/images/logo/yt.png" class="logo" alt=".." width="25"></a>
                        <a><img src="assets/images/logo/ig.png" class="logo" alt=".." width="25"></a>
                        <a><img src="assets/images/logo/tiktok.png" class="logo" alt=".." width="25"></a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
<!-- end deskripsi -->

<div class="footer mt-auto border-top">
    <br>
    <footer>
        <div class="footer-copyright" style="color: white;">
            <p>© 2022. All Rights Reserved</p>
        </div>
    </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="assets/js/value.js"></script>
<script src="https://kit.fontawesome.com/695144269c.js" crossorigin="anonymous"></script>