<div class="w3-sidebar w3-bar-block w3-card w3-animate-left"
    style="display:none; background-color: #3c1f42; width: 20%;" id="leftMenu">
    <button  style="background-color:#3c1f42 ;"><span data-v-d9aeee20="" class="close"><svg
                data-v-758e0345="" data-v-d9aeee20="" width="24" height="24" viewBox="0 0 24 24" fill="none"
                xmlns="http://www.w3.org/2000/svg" class="icon-color--smoke">
                <path data-v-758e0345="" d="M18 6L6 18" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round"></path>
                <path data-v-758e0345="" d="M18 18L6 6" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round"></path>
            </svg></span></button>
    <a href="#" class="w3-bar-item w3-button">Link 1</a>
    <a href="#" class="w3-bar-item w3-button">Link 2</a>
    <a href="#" class="w3-bar-item w3-button">Link 3</a>
</div>
<div class="cmb-header-shadow" id="navbar">
    <div class="container">
        <header class="d-flex align-items-center justify-content-center justify-content-md-between py-3">
            <!-- logo -->

            <div class="d-flex align-items-center">
                <button style="background-color: #3c1f42;" class="btn" type="button"><img
                        src="assets/images/logo/bars.png" class="logo" alt=".." height="40"
                        onclick="openLeftMenu()"></button>
                <a class="align-items-right" href="/">
                    <img src="assets/images/logo/coda.png" class="logo" alt=".." height="40">
                </a>

            </div>
            <!-- end logo -->
            <nav class="cbm-main-menu" id="navbar-menu">
                <ul class="nav fs-5 navbar-brand">
                    <!-- <li><a href="/" class="nav-link">Home</a></li>
                    <li><a href="game" class="nav-link">Game</a></li>
                    <li><a href="voucher" class="nav-link">Voucher</a></li>
                    <li><a href="entertainment" class="nav-link">Entertainment</a></li> -->
                </ul>
            </nav>
            <!-- button masuk/daftar -->
            <% if (locals.isLoggedIn) { %>
            <div class="text-end">
                <a href="profil" class="log-img"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                        fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                        <path fill-rule="evenodd"
                            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                    </svg></a>
                <button class="btn btn-light sidebar-menu" type="button"><img src="assets/images/logo/bar.svg"
                        alt="user" width="20" onclick="openRightMenu();">
                </button>
            </div>
            <% } else { %>
            <div class="text-end">
                <a href="register" class="btn btn-outline log-img" style="color: white; background-color: #6242fc;">
                    Daftar </a>
                <button class="btn btn-light sidebar-menu" type="button"><img src="assets/images/logo/bar.svg"
                        alt="user" width="30" onclick="openRightMenu();">
            </div>
            <% } %>

            <!-- end button -->
        </header>
    </div>
</div>